{% extends '_layout.html' %}

{% block article %}

<h2>Título do artigo</h2>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugit odit, sint assumenda dolor quis,
    nulla eligendi, accusantium earum corporis modi facilis distinctio nisi tempore quidem sequi
    asperiores consequatur suscipit non.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus alias reiciendis adipisci facilis
    pariatur quod molestiae officia distinctio? Fugiat deserunt dicta eveniet praesentium ullam odit,
    tempore minus dignissimos quibusdam provident.</p>
<img src="https://picsum.photos/200/200" alt="Imagem aleatória">
<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Accusamus repellat, odio aut magnam
    incidunt totam voluptatum reiciendis, laborum nisi modi vero illo quos impedit nihil quaerat
    voluptate possimus ipsum laudantium.</p>

{% endblock %}

{% block aside %}

<h3>Veja também</h3>

<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
<p>Repellendus asperiores aut voluptas architecto consequuntur.</p>

{% endblock %}